// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-author {
  font-weight: bold;
  margin-right: 5px;
}

.message-timestamp {
  font-size: 12px;
  font-weight: 300;
}
