.channel-sidebar {
  display: flex;
  flex-direction: column;
  width: 220px;
  position: fixed;
  background: #4d394b;
  color: #fff;
  height: 100%;
  font-size: 15px;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.channel-sidebar ul {
  list-style-type: none;
  margin-top: 5px;
  color: rgb(202,196,201);
}

.channel-sidebar ul a,
.channel-sidebar ul a:visited,
.channel-sidebar ul a:active {
  text-decoration: none;
  color: rgb(202,196,201);
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

.sidebar-log-out,
.edit-profile-button {
  // width: 75px;
  font-family: 'Noto Sans JP', sans-serif;
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 0px;
  display: block;
  margin-top: 10px;
  margin-left: 2px;
}

.sidebar-log-out {
  margin-top: 5px;
}

.edit-profile-button {
  margin-top: 0;
  margin-bottom: 25px;
  cursor: pointer;
}


.sidebar-log-out:active {
  border: none;
}

.channel-sidebar h2 {
  font-size: 18px;
  margin-left: 25px;
  font-weight: 400;
  margin-bottom: 0px;
}

.logged-in-username {
  font-size: 25px;
  margin-left: 20px;
  margin-bottom: 0px;
  -webkit-font-smoothing: auto;
  display: inline-block;
  margin: 0;
  margin-left: 10px;
}

.channel-list-item {
  cursor: pointer;
}

.profile-image {
  height: 35px;
  width: 35px;
  float: left;
  border: 1px solid #fff;
}

.user-profile-info {
  padding: 20px;
}
