.modal {
  position: absolute;
  z-index: 1;
  min-height: 100%;
  min-width: 100%;
  color: #333;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin: 0 auto;
}

.modal > button {
  height: 64px;
  width: 64px;
  z-index: 2;
  cursor: pointer;
  color: #888;
  font-size: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 50px;
  padding: 0;
  border-radius: 50px;
  border: 0;
}

.create-channel-form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 85px;
}

.create-channel-form button {
  font-size: 18px;
}

.edit-profile-form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 75px;
}

.edit-profile-from button {
  font-size: 18px;
}

.file-submit-button {
  border: 1px solid #919193;
  border-radius: 5px;
  padding: 12px;
  width: 270px;
  margin-bottom: 8px;
  cursor: pointer;
}

.file-submit-button:hover {
  background: #f9f9f9;
}
