.modal {
  position: absolute;
  z-index: 1;
  min-height: 100%;
  min-width: 100%;
  color: #333;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin: 0 auto;
}

.modal > button {
  height: 64px;
  width: 64px;
  z-index: 2;
  cursor: pointer;
  color: #888;
  font-size: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 50px;
  padding: 0;
  border-radius: 50px;
  border: 0;
  position: absolute;
  top: 50px;
  right: 275px;
}

.create-channel-form,
.create-dm-form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 185px;
}

.dm-form {
  margin-top: 150px;
}

.create-channel-form button,
.create-dm-form button {
  font-size: 18px;
  margin-top: 15px;
}

.edit-profile-form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 140px;
}

.edit-profile-from button {
  font-size: 18px;
}

.file-submit-button {
  border: 1px solid #919193;
  border-radius: 5px;
  padding: 12px;
  width: 270px;
  margin-bottom: 8px;
  cursor: pointer;
}

.file-submit-button:hover {
  background: #f9f9f9;
}

.dm-search-results {
  text-align: left;
  margin-top: 20px;
  max-height: 200px;
  overflow: scroll;
  margin-bottom: 20px;
  p {
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
  }
}

.dm-search-results p {
  cursor: pointer;
  line-height: 18px;
}

.dm-search-results-empty {
  display: none;
}

.dm-search-results img {
  margin-top: -15px;
}

.dm-users-added {
  width: 275px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #919193;
  border-radius: 5px;
}

.added-users-div {
  // text-align: left;
  margin: 0 auto;
  margin-top: 30px;
  // width: 275px;
  span {
    color: #fff;
    padding: 10px 15px;
    background: #2d9ee0;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
}

.dm-form .session-submit {
  margin-top: 0;
}

.dm-form input {
  margin-bottom: 0;
}

.channel-form-search-results {
  background: #fff;
  position: absolute;
  top: 100px;
  right: 50px;
  width: 270px;
  height: auto;
  max-height: 200px;
  overflow: scroll;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px lightgrey;
  transition: 0.25s;
}

.no-channel-form-search-results {
  display: none;
}

.channel-form-search-result {
  font-size: 12px;
  color: #000;
  padding: 5px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.channel-form-search-result:hover {
  background: #f9f9f9;
}

.channel-form-search-result a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}

.channel-form-search-result img {
  height: 30px;
  width: 30px;
  margin-right: 12px;
}

.close-channels-search-box {
  cursor: pointer;
  font-size: 12px;
  position: fixed;
  top: 105px;
  right: 387px;
  color: #51397e;
  border-radius: 50%;
  border: 1px solid #51397e;
  padding: 0 5px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  // background-color: rgba(0, 0, 0, .5);
  background-color: #51397e;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.channel-instructions {
  margin-bottom: 28px;
}

.create-channel-form input {
  width: 485px;
}
